NODE_ENV=production
PORT=3000

# Preferred single-URL format for AWS RDS
# DATABASE_URL=postgres://dbuser:dbpassword@your-rds-endpoint.ap-south-1.rds.amazonaws.com:5432/barefootNomad

# Or use discrete PG variables
PGHOST=barefootnomads.ct8ak62u8dub.ap-south-1.rds.amazonaws.com
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=postgres
PGSSL=true

# JWT
JWT_SECRET=jansdjhaud3ijh3e82dnqoimd2903er10d292h3d908n2d3923n8023=

# Netlify signed requests (enable in production if required)
USE_NETLIFY_SIGNATURE=true
API_SIGNATURE_TOKEN=3fbc17a54f7d3090906fb5ba12dfda9230a72e7f7185ccfb4e44d5b145dc77ac